language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
sudo: required
env:
  global:
    - PACKAGE="jackline"
    - EXTRA_REMOTES="https://github.com/hannesm/xmpp-opam.git"
    - TESTS=false
matrix:
  include:
  - os: linux
    env: OCAML_VERSION=4.05
  - os: linux
    env: OCAML_VERSION=4.06
  - os: linux
    env: OCAML_VERSION=4.07
  - os: osx
    env: OCAML_VERSION=4.06
notifications:
  email: false
