#!/usr/bin/make -f

# Work around Debian bug #908203 in Debian stable.
export OPAMEXTERNALSOLVER = mccs

OCAML_VERSION := 4.07.1
OPAMROOT := $(abspath .)/debian/tmp-opam-root
export OPAMROOT
OPAMSWITCH := $(abspath .)/debian/tmp-opam-switch
export OPAMSWITCH
OPAMROOT_CONFIG := $(OPAMROOT)/config
OPAMSWITCH_CONFIG := $(OPAMSWITCH)/_opam/.opam-switch/switch-config
WITH_OPAM_SWITCH := opam exec --set-root --set-switch
XMPP_OPAM_REPO := git+https://github.com/hannesm/xmpp-opam.git

OPAM_DISABLE_SANDBOXING := $(shell test -f /.dockerenv || test -n "$$PBUILDER_OPERATION" && echo 1)
ifneq ($(OPAM_DISABLE_SANDBOXING),)
OPAM_INIT_ARGS := --disable-sandboxing
endif

DCH_GIT_REVISION := $(shell test -d .git && git describe --always HEAD)
# If we are not being run from a Git checkout, then we must be building a
# binary package from an existing source package. In this case disable all
# of the x-source related logic (and prevent calling out to 'git' which may
# not even be present).
ifneq ($(DCH_GIT_REVISION),)
DCH_VERSION := $(shell date +%Y%m%d)
DCH_TIMESTAMP := $(shell date -R)

debian/changelog: debian/changelog.in
	sed -e 's/@@VERSION@@/0~$(DCH_VERSION)+g$(DCH_GIT_REVISION)/' \
		-e 's/@@TIMESTAMP@@/$(DCH_TIMESTAMP)/' $< > $@

# This target must be run manually ("debian/rules x-source") to generate the
# Debian changelog and produce the Debian source package.
# FIXME This needs to be run from a clean source tree, but can't use dh clean
# FIXME since there is no debian/changelog. Maybe ignore _build/ to be safe?
.PHONY: x-source
x-source: debian/changelog
	dpkg-source -b .
endif

clean:
	-$(WITH_OPAM_SWITCH) ocaml pkg/pkg.ml clean || rm -r _build/
	dh clean

# The following two targets will initialise a temporary OPAM root and switch
# respectively, used for building all of the package's OPAM dependencies.  This
# is deliberately only done once, and never cleaned up automatically, as the
# 'clean' target will get run during a normal invocation of 'debuild'. If you
# need to clean up the switch while developing the package, remove
# debian/tmp-opam* manually.
$(OPAMROOT_CONFIG):
	opam init -an --bare --bypass-checks $(OPAM_INIT_ARGS)

$(OPAMSWITCH_CONFIG): $(OPAMROOT_CONFIG)
	opam switch create $(OPAMSWITCH) $(OCAML_VERSION)
	opam repo add xmpp-opam $(XMPP_OPAM_REPO)

build: $(OPAMSWITCH_CONFIG)
	opam install -y --deps-only .
	$(WITH_OPAM_SWITCH) ocaml pkg/pkg.ml build
	mv _build/bin/jackline.native _build/bin/jackline

%:
	dh $@
